@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        height: 100vh;
        padding-top: 55px;
    }

    body::-webkit-scrollbar {
        width: 0.5rem;
        background-color: rgb(49 46 129);
    }

    body::-webkit-scrollbar-thumb {
        background-color: rgb(249, 115, 22);

    }

    div::-webkit-scrollbar {
        width: 0.7rem;
        border-left: 0.3rem rgb(243 244 246) solid;

        background-color: rgba(49, 46, 129, 0.24);
    }

    div::-webkit-scrollbar-thumb {
        border-left: 0.3rem rgb(243 244 246) solid;

        background-color: rgba(249, 115, 22, 0.73);
    }
}
